nav{
	background-color: #343A40;
	padding: 1em;
}

nav a{
	text-decoration: none;
	color: #FFF;
}

.menu{
	display: inline-block;
}

.menu2{
	display: none;
}

/*DISPOSITIVOS PANTALLAS PEQUEÑAS*/
@media all and (max-width: 28em){ /*450px*/
  [class*="col-"]{
    width: 100%;
  }
  .menu{
    display: none;
}
  .menu2{
    display: inline-block;
  }
  .menu-icon{
    font-size: 3rem;
    color: #FFF;
    text-align: right;
    border: 1px solid #FFF;
    border-radius: 10%;
    padding: 2%;
    float: right;
    margin-top: -2.5em;
  }
}

/*SECCION PRINCIPAL*/
.content{
	background-image: url(../img/torres-paine.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20% 0;
	text-align: center;
/*width: 1950px;
height: 400px;*/
}

/*SECCION INFO*/
.fa {
	margin-right: 1em;
}

/*SECCION TOUR*/

.tour-img{
	width: 18.75em;
	height: 12.5em;
}

/*FOOTER*/

footer {
	margin-top: 5%;
	background-color: #343A40;
	padding: 1px 0;
	text-align: center;
}
