nav{
	background-color: #343A40;
	padding: 1em;
}

nav a{
	text-decoration: none;
	color: #FFF;
}

/*SECCION PRINCIPAL*/
.content{
	background-image: url(../img/torres-paine.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 20% 0;
	text-align: center;
/*width: 1950px;
height: 400px;*/
}

/*SECCION INFO*/
.fa {
	margin-right: 1em;
}

/*SECCION TOUR*/

.tour-img{
	width: 300px;
	height: 200px;
}

/*FOOTER*/


footer {
	margin-top: 5%;
	background-color: #343A40;
	padding: 1px 0;
	text-align: center;
}